[Unit]
Description = gitrfire daemon

[Service]
Type = simple
ExecStart = /usr/bin/python -u /home/spooderman/Documents/gitfire/gitfire.py
User = spooderman
StandardOutput = journal
StandardError = journal
