[Unit]
Description = First Python Daemon

[Service]
Type = simple
ExecStart = /usr/bin/python -u /home/spooderman/Documents/gitfire/try.py
StandardOutput = journal
StandardError = journal
